@require 'nib'

.login-view {
    text-align: center;
    form {
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        line-height: 2em;
    }
    legend {
        text-align: center;
    }

    .show-when-loading {
        display: none;
    }
    .loading .show-when-loading {
        display: inline-block;
    }

    .show-when-success {
        display: none;
    }
    .success .show-when-success {
        display: inline-block;
        color: green;
    }

    .show-when-error {
        visibility: hidden; // consistent spacing even when blank
    }
    &.error .show-when-error, .error.show-when-error {
        visibility: visible;
        color: red;
        &:after {
            display: inline-block;
            padding-left: 0.25em;
            content: attr(data-error);
        }
    }

    .container {
        padding: 1em;
        position: relative;
        display: inline-block;
        margin: auto;
    }

    .dismiss-button {
        display: none;
    }
}

.login-view.modal {
    position: absolute;
    bottom: 100%;
    width: 100%;
    transition: margin-bottom 500ms ease-in-out;
    margin-bottom: -20em; // in view near the top center of the window

    &.hidden {
        margin-bottom: 1em; // just off the top of the window
    }

    .container {
        border-radius: 0.5em;
        background: white;
        box-shadow: 0px 8px 20px 0px rgba(31, 31, 31, 0.5);
    }

    .dismiss-button {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
    }
}
