.login-view {
    margin-top: 3em;
    text-align: center;
    form {
        display:inline-block;
        text-align: right;
        line-height: 2em;
        legend {
            text-align: center;
        }
    }

    .show-when-loading {
        display: none;
    }
    .loading .show-when-loading {
        display: inline-block;
    }

    .show-when-success {
        display: none;
    }
    .success .show-when-success {
        display: inline-block;
        color: green;
    }

    .show-when-error {
        display: none;
    }
    &.error .show-when-error, .error.show-when-error {
        display: block;
        color: red;
        height: 2em;
        line-height: 2em;
        position: relative;
        top: -2em;
        margin: 1em;
        margin-bottom: -2em;
        &:after {
            display: inline-block;
            padding-left: 0.25em;
            content: attr(data-error);
        }
    }
}
