@import 'nib'

.form-view {
    text-align: center;

    form {
        margin: 1em;
        display: inline-block;
        text-align: left;
    }

    fieldset {
        border-radius: 0.5em;
    }

    label {
        display: block;
        margin: 0.5em 0
    }

    input, textarea {
        width: 30em;
    }

    button, .delete-buttons {
        float: right;
        margin: 0 0 0 0.5em;
    }

    .links {
        float: right;
    }

    .actions {
        margin: 1em 0 0 0;
    }

    .show-when-success {
        color: green;
    }

    .show-when-error {
        color: red;
    }

    .show-when-loading, .show-when-error, .show-when-success {
        display: none;
    }

    &.loading .show-when-loading, &.error .show-when-error, &.success .show-when-success {
        display: inline-block;
    }
}
