@import 'nib'

.form-view {
    margin: 1em;

    .links {
        float: right;
    }

    .actions {
        margin: 1em 0 0 0;
    }

    .field-id {
        display: none;
    }

    .show-when-success {
        color: green;
    }

    .show-when-error {
        color: red;
    }

    .show-when-loading, .show-when-error, .show-when-success {
        display: none;
    }

    &.loading .show-when-loading, &.error .show-when-error, &.success .show-when-success {
        display: inline-block;
    }
}
