@import 'nib'

.popup-editor-view {
    position: absolute;
    z-index: 10000;
    background: white;

    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid #444;
    box-shadow: 0px 8px 20px 0px rgba(31, 31, 31, 0.5);

    cursor: move;
    user-select: none;

    .input-view {
        cursor: move;
        > .label-text {
            text-align: left;
        }
        > * {
            display: block;
            min-width: 400px;
        }
        > textarea {
            min-height: 8em;
        }
    }

    button {
        float: right;
        margin: 0.5em 0 0 0.5em;
    }
}
