@import 'nib'

.lightbox-view {
    background-color: rgba(0, 0, 0, .75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    overflow-x: hidden;
    overflow-y: hidden;

    transition: background-color 333ms ease;
    &.hidden {
        background-color: transparent;
        overflow-y: hidden;
        > .lightbox-content {
            margin-top: 100%;
        }
    }

    > .lightbox-content {
        padding: 3em 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        transition: margin-top 333ms ease;
    }

    > a.close-link {
        text-decoration: none;
        cursor: pointer;
        color: white;
        position: fixed;
        top: 1em;
        right: 2em;
        &:hover {
            text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.9);
        }
    }
}
