@import 'nib'

.table-view {
    margin: 1em;
    th, td {
        border: 1px solid #333;
        text-align: center;
    }
    th {
        line-height: 2em;
        padding: 0 0.5em;
        cursor: pointer;
        user-select: none;
    }
    th.sort-key:after {
        display: inline;
        content: " ▲";
    }
    th.sort-key-reverse:after {
        display: inline;
        content: " ▼";
    }
    td {
        > input {
            border: 0;
        }
    }
}
