@import 'nib'

.table-view {
    margin: 1em;
    th, td {
        border: 1px solid #333;
        text-align: center;
    }
    th {
        line-height: 2em;
        padding: 0 0.5em;
    }
    th.sortable {
        user-select: none;
        cursor: n-resize;
    }
    th.sortable.sort-key {
        cursor: s-resize;
    }
    th.sort-key:after {
        display: inline;
        content: " ▲";
    }
    th.sort-key-reverse:after {
        display: inline;
        content: " ▼";
    }
}
