@import 'nib'

.table-view {
    margin: 1em auto;
    th, td {
        border: 1px solid #333;
        padding: 0 0.5em;
        text-align: center;
    }
    th {
        line-height: 2em;
    }
    th.sortable {
        user-select: none;
        cursor: pointer;
        cursor: hand;
    }
    th.sort-key:after {
        display: inline;
        content: " ▲";
    }
    th.sort-key-reverse:after {
        display: inline;
        content: " ▼";
    }

    td > input {
        border: 0px;
        margin: -0.4em;
        padding: 0.1em 0.25em;
        height: 100%;
        box-sizing: border-box;
    }
}
